{% extends "base.html" %} {% block content %}

<div class="about-me">
  <h1>
    <img
      src="{{ get_url(path='images/snake.svg') }}"
      alt="Python"
      height="120px"
      width="120px"
    />
    <img
      src="{{ get_url(path='images/crab.svg') }}"
      alt="Rust"
      height="120px"
      width="120px"
    />
    <img
      src="{{ get_url(path='images/elephant.svg') }}"
      alt="PostgreSQL"
      height="120px"
      width="120px"
    />
  </h1>
</div>
<div>{{ section.content | safe }}</div>
{% endblock %}
