{% extends "base.html" %} {% block content %}

<div class="about-me">
  <a href="https://www.python.org/">
    <img
      src="{{ get_url(path='images/snake.svg') }}"
      alt="Python"
      height="120px"
      width="120px"
    />
  </a>
  <a href="https://www.rust-lang.org/">
    <img
      src="{{ get_url(path='images/crab.svg') }}"
      alt="Rust"
      height="120px"
      width="120px"
    />
  </a>
  <a href="https://www.postgresql.org/">
    <img
      src="{{ get_url(path='images/elephant.svg') }}"
      alt="PostgreSQL"
      height="120px"
      width="120px"
    />
  </a>
</div>
<div>{{ section.content | safe }}</div>
{% endblock %}
